{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-card uk-width-expand@s">
                <p class="uk-text-uppercase">About the company</p>
                <h2 class="uk-margin-remove">Why Ambiance Home is the best in home staging</h2>
            </div>
            <div class="uk-card uk-width-3-5@s">
                <p><strong>Ambiance Home currently features a 50,000 sqft. showroom in the heart of South Orange County, Ca. for over 14 years! If you haven’t been to our store be sure to pay us a visit!</strong></p>
                <p>Ambiance Home began with a dream and a vision to be the best place to buy quality furniture. We are proud to be one of the largest distributors of fine furniture and home decor. We have achieved our success by applying the values of trust, commitment and dependability to every aspect of our business. We have earned the trust of thousands of satisfied customers by providing reliability and timely service. Above all, we are committed to complete customer satisfaction.</p>
                <p>Allow us to introduce personality to each collection of home furnishings, and to help you create the lifestyle in your home that captures your own personality. We are proud to be a family owned and operated company representing America’s premier brand name furniture manufacturers! Purchasing furniture is a very important decision for everyone. Please take your time. You can count on our friendly professional staff for help and feel free to ask as many questions as you like concerning your furniture purchase. We are here to help. If you need anything at all, we encourage you to contact us!</p>
            </div>
        </div>
        <div class="uk-section">
            <div class="uk-position-relative uk-light" tabindex="-1" uk-slider="center: true;infinite: true">

                <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-1-3">
                        <div class="uk-panel uk-cover-container">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240585976_937467080141636_4864964381327944060_n.jpg" alt="" uk-cover>
                            <canvas height="500"></canvas>
                        </div>
                    </li>
                    <li class="uk-width-3-4">
                        <div class="uk-panel uk-cover-container">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240405310_383227833170923_686529686222131999_n.jpg" alt="" uk-cover>
                            <canvas height="500"></canvas>

                        </div>
                    </li>
                    <li class="uk-width-3-4">
                        <div class="uk-panel uk-cover-container">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635090908/Navid%20Ziaolhagh/Ambiance%20Home/pexels-max-vakhtbovych-6758776.jpg" alt="" uk-cover>
                            <canvas height="500"></canvas>

                        </div>
                    </li>
                </ul>
            
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            
            </div>
        </div>
    </div>
</div>
<div class="uk-section" style="background: rgb(243, 243, 243);">
    <div class="uk-container">
        <h2 class="uk-h1">Areas we serviced</h2>
        <div class="uk-grid uk-child-width-1-3@s uk-margin-medium-top">
            <div>
                <ul class="uk-list uk-list-divider">
                    <li>Corona Del Mar</li>
                    <li>Dana Point</li>
                    <li>Irvine</li>
                    <li>Laguna Beach</li>
                </ul>
            </div>
            <div>
                <ul class="uk-list uk-list-divider">
                    <li>Newport Coast</li>
                    <li>Newport Beach</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}