{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-section">
            <div class="uk-grid">
                <div class="uk-card uk-width-expand@s">
                    <h2 class="uk-margin-remove uk-text-uppercase uk-text-bold">Meet the Team</h2>
                </div>
                <div class="uk-card uk-width-3-5@s">
                    <p>Allow us to introduce personality to each collection of home furnishings, and to help you create the lifestyle in your home that captures your own personality. We are proud to be a family owned and operated company representing America’s premier brand name furniture manufacturers! Purchasing furniture is a very important decision for everyone. Please take your time. You can count on our friendly professional staff for help and feel free to ask as many questions as you like concerning your furniture purchase. We are here to help. If you need anything at all, we encourage you to contact us!</p>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-small uk-child-width-1-3@s">
            {{ range .Params.team }}
            <div class="uk-margin-small-bottom">
                <div class="uk-inline uk-cover-container">
                    <img src="{{ .photo }}" alt="{{ .name }}" uk-cover>
                    <canvas height="500" width="500"></canvas>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center" style="padding: 10px;">
                        <h3 class="uk-margin-remove">{{ .name }}</h3>
                        <p class="uk-margin-remove">{{ .position }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}