{{ define "main" }}
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-text-center uk-section">
                <h2>{{ .Title }}</h2>
                <p>{{ .Params.body }}</p>
            </div>
            <div class="uk-grid-medium uk-child-width-1-3@s uk-text-center" uk-grid>
                {{ range .Params.gallery }}
                <div>
                    <div class="uk-inline uk-cover-container">
                            <img src="{{ .}}" alt="" uk-cover>
                            <canvas height="450" width="400"></canvas>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}