{{ partial "global/head" . }}
<div class="uk-position-relative">
    <div class="uk-cover-container">
        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635100706/Navid%20Ziaolhagh/Ambiance%20Home/kitchen-luxury.jpg" alt="" uk-cover>
        <canvas height="400"></canvas>
        <div class="uk-overlay-baseof uk-position-cover"></div>
        <div class="uk-overlay uk-position-center uk-light">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
    <div class="uk-position-top">
        {{ partial "global/navbar" . }}
    </div>
</div>

<main>
{{ block "main" . }}

{{ end }}
</main>

{{ partial "global/footer" . }}
