{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $footerContact := .Site.Data.profile.contact_information }}

<footer class="footer" style="background: #353535;">
    <div class="uk-section">
        <div class="uk-container uk-container-large uk-light">
            <div class="uk-text-center uk-margin-medium-bottom">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1637562050/navid-ziaolhagh/ambiance-home/logo_footer.png" alt="{{ .Site.Data.profile.company_name }}">
                <nav class="uk-navbar-" uk-navbar>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/">Home</a></li>
                            <li class="uk-active"><a href="/company">About</a></li>
                            <li class="uk-active"><a href="/contact">Contact</a></li>
                            <li class="uk-active"><a href="/shop">Shop</a></li>
                        </ul>
                    </div>
                </nav>
                <hr>
            </div>
            <div class="uk-child-width-1-4@l uk-child-width-1-3@m uk-grid-large" uk-grid>
                <div class="uk-card uk-margin-medium-bottom">
                    <h2 class="uk-h5 uk-text-bold uk-text-uppercase">Ambiance Home</h2>
                    <p>Ambiance Home is proud to be the largest distributors of fine furniture and home decor. You can find exactly waht you need for your space at an affordable price.</p>
                </div>
                <div class="uk-card uk-margin-medium-bottom">
                    <h2 class="uk-h5 uk-text-bold uk-text-uppercase">Policies</h2>
                    <ul class="uk-list">
                        <li><a href="">Shipping & Returns</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="uk-card uk-margin-medium-bottom">
                    <h2 class="uk-h5 uk-text-bold uk-text-uppercase">Hours</h2>
                    <ul class="uk-list">
                        <li><p>Come visit our showroom during our opening hours</p></li>
                        <li><strong>Mon - Fri:</strong> 10am - 4pm</li>
                        <li><strong>Sat - Sun:</strong> Closed</li>
                    </ul>
                </div>
                <div class="uk-card uk-margin-medium-bottom">
                    <h2 class="uk-h5 uk-text-bold uk-text-uppercase">Contact Information</h2>
                    <ul class="uk-list">
                        {{ if $footerContact.phone }}<li><a href="tel:{{ $footerContact.phone }}">{{ $footerContact.phone }}</a></li>{{ end }}
                        {{ if $footerContact.cell }}<li><a href="tel:{{ $footerContact.cell }}">{{ $footerContact.cell }}</a></li>{{ end }}
                        {{ if $footerContact.email }}<li><a href="mailto:{{ $footerContact.email }}">{{ $footerContact.email }}</a></li>{{ end }}
                        {{ if $footerContact.address }}<li><a href="{{ if $footerContact.google_page_link }}{{ $footerContact.google_page_link }}{{ else }}https://www.google.com/maps/place/{{ $footerContact.address }},+{{ $footerContact.city }},+{{ $footerContact.state }}{{ end }}">{{ $footerContact.address }}, {{ $footerContact.city }}, {{ $footerContact.state }} {{ $footerContact.zip_code }}</a></li>{{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-padding-small" style="background:#2E2E2E;">
        <div class="uk-container uk-container-large uk-light">
            <div class="uk-text-center">
                <small>&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}</a></small>

            </div>
        </div>
    </div>
</footer>

</body>
</html>