<a href="{{ .Permalink }}" class="uk-link-text shop__link">
    <div>
        <div class="uk-card uk-text-center">
            <div class="uk-card-media-top uk-cover-container">
                <img src="{{ index .Params.gallery 0 }}" alt="" uk-cover>
                <canvas height="300"></canvas>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-text-uppercase uk-h5">{{ .Title }}</h3>
                <p class="uk-text-bold">{{ .Params.price }}</p>
            </div>
        </div>
    </div>
</a>