<div class="uk-section uk-section-large uk-background-cover uk-background-norepeat" style="background-image:url(https://res.cloudinary.com/hungryram19/image/upload/v1637562050/navid-ziaolhagh/ambiance-home/living-room.jpg)">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-light">
            <div class="uk-width-3-5@s">
                <p>WATCH THE VIDEO FROM THE FACTORY</p>
                <h2 class="uk-h1 uk-margin-remove">The excellent tradition of handmade and design</h2>
            </div>
            <div class="uk-width-expand@s uk-flex uk-flex-middle uk-flex-center">
                <span uk-icon="icon:play-circle;ratio:4"></span>
            </div>
        </div>
    </div>
</div>