<div class="uk-section">
    <div class="uk-container featured">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635090908/Navid%20Ziaolhagh/Ambiance%20Home/pexels-max-vakhtbovych-6758776.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Left</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Left</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635090906/Navid%20Ziaolhagh/Ambiance%20Home/pexels-max-vakhtbovych-6301182.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635090908/Navid%20Ziaolhagh/Ambiance%20Home/pexels-max-vakhtbovych-6758776.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Left</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>