<div class="uk-section">
    <div class="uk-container uk-container-large featured">
        <!--  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635090908/Navid%20Ziaolhagh/Ambiance%20Home/pexels-max-vakhtbovych-6758776.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h2 class="uk-card-title">Media Left</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>  -->
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div>
                <div class="uk-card-body">
                    <h2 class="uk-text-uppercase">Home Staging</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="/" class="uk-button uk-button-primary">Learn more</a>
                </div>
            </div>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1637562050/navid-ziaolhagh/ambiance-home/newport-beach.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1637562462/navid-ziaolhagh/ambiance-home/staircasenew.jpg" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h2 class="uk-text-uppercase">Interior Design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="/" class="uk-button uk-button-primary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>