<div class="uk-cover-container uk-flex uk-flex-center uk-flex-center" uk-height-viewport>
    <div class="uk-position-top" style="z-index:1">
        {{ partial "global/navbar" . }}
        </div>
    <video src="https://res.cloudinary.com/hungryram19/video/upload/v1634511851/Navid%20Ziaolhagh/Ambiance%20Home/pexels-kindel-media-7578552.mp4" autoplay loop muted playsinline uk-cover></video>
    <div class="uk-hero-overlay uk-position-cover"></div>
    <div class="uk-width-1-1">
        <div class="uk-flex uk-flex-middle" uk-height-viewport>
            <div class="uk-container">
                <div class="hero-text uk-card uk-text-center" uk-scrollspy="uk-animation-slide-bottom-small">
                    <h1 class="uk-white uk-text-center uk-text-light">Ambiance Home</h1>
                    <h2 class="uk-h4 uk-white">featuring a 50,000 sqft. showroom in the heart of South Orange County</h2>
                    <div class="uk-margin-medium-top">
                        <a href="" class="uk-button uk-button-primary">Contact</a>
                        <a href="" class="uk-button uk-button-secondary">Shop furniture</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>