{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand@s">
                <h2 class="uk-text-bold">Image galleries and interactivity</h2>
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card">
                    <h2 class="uk-text-bold">Welcome to Ambiance Home</h2>
                    <p>Ambiance Home began with a dream and a vision to be the best place to buy quality furniture. We are proud to be one of the largest distributors of fine furniture and home decor. We have achieved our success by applying the values of trust, commitment and dependability to every aspect of our business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>