<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div>
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge uk-text-center">
                    <div class="uk-card">
                        <h2 class="uk-text-uppercase">Welcome to Ambiance Home</h2>
                        <p>Ambiance Home began with a dream and a vision to be the best place to buy quality furniture. We are proud to be one of the largest distributors of fine furniture and home decor. We have achieved our success by applying the values of trust, commitment and dependability to every aspect of our business.
                        </p>
                        <a href="/company" class="uk-button uk-button-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-small">
    <div class="uk-container uk-container-large">
        <div class="uk-margin-medium-top uk-light">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-expand">
                    <a href="">
                        <div class="uk-cover-container">
                            <img src="https://ssl.cdn-redfin.com/photo/45/bigphoto/131/OC21202131_3_2.jpg" alt="" uk-cover>
                            <canvas height="400"></canvas>
                            <div class="uk-position-bottom uk-text-right featured-box">
                                <div class="uk-padding-small">
                                    <h3 class="uk-text-uppercase">View Portfolio</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="uk-width-3-5@s">
                    <a href="">
                        <div class="uk-cover-container">
                            <img src="https://res.cloudinary.com/hungryram19/image/upload/v1637562051/navid-ziaolhagh/ambiance-home/newport-interior.jpg" alt="" uk-cover>
                            <canvas height="400"></canvas>
                            <div class="uk-position-bottom uk-text-right">
                                <div class="uk-padding-small">
                                    <h3 class="uk-text-uppercase">View Showroom</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
