{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand@s">
                <h2 class="uk-text-bold">California's premier furniture store</h2>
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card">
                    <h2 class="uk-text-bold">Welcome to Ambiance Home</h2>
                    <p>Ambiance Home began with a dream and a vision to be the best place to buy quality furniture. We are proud to be one of the largest distributors of fine furniture and home decor. We have achieved our success by applying the values of trust, commitment and dependability to every aspect of our business.
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-margin-medium-top uk-light">
            <div uk-grid>
                <div class="uk-width-expand">
                    <div class="uk-cover-container">
                        <img src="https://ssl.cdn-redfin.com/photo/45/bigphoto/131/OC21202131_3_2.jpg" alt="" uk-cover>
                        <canvas height="400"></canvas>
                        <div class="uk-position-bottom uk-text-right featured-box">
                            <div>
                                <a href="/portfolio" class="uk-button uk-button-primary">&mdash; View Portfolio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-3-5@s">
                    <div class="uk-cover-container">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1636757199/Navid%20Ziaolhagh/Ambiance%20Home/newport-interior.jpg" alt="" uk-cover>
                        <canvas height="400"></canvas>
                        <div class="uk-position-bottom uk-text-right">
                            <a href="/" class="uk-button uk-button-primary">&mdash; View Showroom</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>