<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-3@s uk-grid-collapse home-feed">
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240729792_6158452640861662_5570632778459961345_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>
            </div>
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240639818_1203323013525475_714194009111930383_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>

            </div>
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240421061_837755503578096_3978825126948560190_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>

            </div>
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240585976_937467080141636_4864964381327944060_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>

            </div>
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240573644_141955678093874_1330773000826911428_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>

            </div>
            <div class="uk-card">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240405310_383227833170923_686529686222131999_n.jpg" alt="">
                <div class="uk-overlay-featured uk-position-cover"></div>

            </div>
        </div>
    </div>
</div>