{{ define "main" }}
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large" uk-grid>
                <div class="uk-width-1-2@s">
                    <div class="uk-position-relative uk-dark" tabindex="-1" uk-slider>

                        <ul class="uk-slider-items uk-child-width-1-1" uk-lightbox>
                            {{ range .Params.gallery }}
                            <li>
                                <a href="{{ . }}">
                                    <img src="{{ . }}" alt="">
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <h2 class="uk-text-uppercase">{{ .Title }}</h2>
                    <p class="uk-text-uppercase uk-text-bold">Woodrow Brand</p>
                    <p>{{ .Params.price }}</p>
                    {{ if .Params.description }}
                        {{ .Params.description }}
                    {{ end }}
                    <div class="uk-margin-medium-top">
                        <a href="" class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-flip">I'm interested</a>
                    </div>
                    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                        <div class="uk-offcanvas-bar">
                    
                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                    
                            <h3 style="color: #000" class="uk-text-uppercase">Contact</h3>
                            <p style="color: #000">If you would like more information on the product, please fill out your information or give our representatives a call.</p>
                    
                            <form name="Contact Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small uk-dark" uk-grid action="/thank-you">
                                <input name="bot-field" type="hidden" />
                                <input type="hidden" name="Subject" value="Website Contact Form">
                                <input name="Source" type="hidden" value="{{ .Permalink }}" />
                            
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" placeholder="Name" name="Name">
                                </div>
                                <div class="uk-width-1-2@s">
                                    <input class="uk-input" type="text" placeholder="Phone" name="Phone">
                                </div>
                                <div class="uk-width-1-1">
                                    <input class="uk-input" type="text" placeholder="Email" name="Email">
                                </div>
                                <div class="uk-width-1-1">
                                    <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="Message"></textarea>
                                </div>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                                </div>
                                <div class="uk-width-1-1">
                                    <p style="color:#000">By submitting the form with your information above you are agreeing to our <a style="color:#000" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:#000" href="/legal/privacy-policy">Privacy Policy</a></p>
                                </div>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-small" style="background: #F6F6F6">
        <div class="uk-container uk-text-center">
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                {{ if .Params.dimension }}
                <div>
                    <h4 class="uk-text-bold uk-text-uppercase">Dimensions</h4>
                    <p class="uk-text-uppercase">{{ .Params.dimension }}</p class="uk-text-uppercase">
                </div>
                {{ end }}
                {{ if .Params.warranty }}
                <div>
                    <h4 class="uk-text-bold uk-text-uppercase">Warranty</h4>
                    <p class="uk-text-uppercase">{{ .Params.warranty }}</p class="uk-text-uppercase">
                </div>
                {{ end }}
                {{ if .Params.sku }}
                <div>
                    <h4 class="uk-text-bold uk-text-uppercase">SKU</h4>
                    <p class="uk-text-uppercase">{{ .Params.sku }}</p class="uk-text-uppercase">
                </div>
                {{ end }}
                {{ if .Params.brand }}
                <div>
                    <h4 class="uk-text-bold uk-text-uppercase">Brand</h4>
                    <p class="uk-text-uppercase">{{ .Params.brand }}</p class="uk-text-uppercase">
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true" style="background: #F6F6F6">

        <ul class="uk-slider-items uk-grid">
            <li class="uk-width-1-2">
                <div class="uk-panel uk-cover-container" uk-height-viewport="offset-bottom:40">
                    <img src="https://ferreti.eu/app/uploads/2020/09/felicity_gall1-886x0-c-default.jpg" alt="" uk-cover>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel uk-cover-container" uk-height-viewport="offset-bottom:40">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240573644_141955678093874_1330773000826911428_n.jpg" alt="" uk-cover>

                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel uk-cover-container" uk-height-viewport="offset-bottom:40">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240639818_1203323013525475_714194009111930383_n.jpg" alt="" uk-cover>

                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel uk-cover-container" uk-height-viewport="offset-bottom:40">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635100706/Navid%20Ziaolhagh/Ambiance%20Home/kitchen-luxury.jpg" alt="" uk-cover>

                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-panel uk-cover-container" uk-height-viewport="offset-bottom:40">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635089032/Navid%20Ziaolhagh/Ambiance%20Home/240639818_1203323013525475_714194009111930383_n.jpg" alt="" uk-cover>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>

<div class="uk-section" style="background: #F6F6F6">
    <div class="uk-container">
        {{ .Content }}
    </div>
</div>

<div class="uk-section">
    <div class="uk-container">
        <h2 class="uk-text-uppercase">Customers also viewed</h2>
        <div class="uk-position-relative uk-dark" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-3@m uk-child-width-1-2@s uk-grid">
                {{ range shuffle (where .Site.RegularPages "Type" "shop") }}
                <li>
                    {{ partial "templates/shop" . }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ end }}